{% extends "layouts/base.html" %}



{% block content %}
<div>
            <h1>Floods</h1>
            <p>Flooding is a temporary overflow of water onto land that is normally dry. Floods are the most common natural disaster in the United States. Failing to evacuate flooded areas or entering flood waters can lead to injury or death. Floods may:</p>
            <ul>
                <li>
                    <p>Result from rain, snow, coastal storms, storm surges and overflows of dams and other water systems.</p>
                </li>
                <li>
                    <p>Develop slowly or quickly. Flash floods can come with no warning.</p>
                </li>
                <li>
                    <p>Cause outages, disrupt transportation, damage buildings and create landslides.</p>
                </li>
            </ul>
            <h3> IF YOU ARE UNDER A FLOOD WARNING, FIND SAFE SHELTER RIGHT AWAY</h3>
            <ul>
                <li>
                    <p>Do not walk, swim or drive through flood waters. Turn Around, Don’t Drown!</p>
                </li>
                <li>
                    <p>Stay off of bridges over fast-moving water.</p>
                </li>
                <li>
                    <p>Evacuate if told to do so.</p>
                </li>
                <li>
                    <p>Move to higher ground or a higher floor.</p>
                </li>
                
            <h3>
                    <p>HOW TO STAY SAFE WHEN A FLOOD THREATENS</p>
            </h3>
            </ul>
            <h2>Prepare NOW</h2>
            <p>Make a plan for your household, including your pets, so that you and your family know what to do, where to go, and what you will need to protect yourselves from flooding and COVID-19.</p>


            <h2>Survive DURING</h2>
            <p>Depending on where you are, the potential impact, and the warning time given for flooding, go to the safe location that you have identified. If you are not able to shelter in place or with family or friends and must go to a public shelter, remember to bring items that can help protect you and others from COVID-19, such as hand sanitizer that contains at least 60 percent alcohol, cleaning materials, and two cloth masks per person. If you can, wash your face covering regularly. Children under 2 years old, people who have trouble breathing, and those who are unable to remove masks on their own should not wear them.
            </p>
            Be Safe AFTER
            Be aware that snakes and other animals may be in your house. Wear heavy work gloves, protective clothing, and boots during clean up. Wear a mask and maintain a physical distance of at least six feet while working with someone else. Use an appropriate mask if cleaning mold or other debris. People with asthma and other lung conditions and/or immune suppression should not enter buildings with indoor water leaks or mold growth that can be seen or smelled. Children should not take part in disaster cleanup work.
</div>
{% endblock content %}
