{% extends "layouts/base.html" %}



{% block content %}
<div>
            <h1>Wildfires</h1>
            <p>Wildfires are unplanned fires that burn in natural areas like forests, grasslands or prairies. These dangerous fires spread quickly and can devastate not only wildfire and natural areas, but also communities.</p>
            <ul>
                <li>
                    <p>Have several ways to receive alerts. Download the FEMA app and receive real-time alerts from the National Weather Service for up to five locations nationwide. Sign up for community alerts in your area and be aware of the Emergency Alert System (EAS) and Wireless Emergency Alert (WEA)- which requires no-sign up.</p>
                </li>
                <li>
                    <p>Sign up for email updates and follow the latest guidelines about coronavirus from the Centers for Disease Control and Prevention (CDC) and your local authorities to prevent the spread of COVID-19</p>
                </li>
                <li>
                    <p>Pay attention to air quality alerts.</p>
                </li>
            </ul>
            <h3>Make an Emergency Plan</h3>
            <ul>
                <li>
                    <p>Make sure everyone in your household knows and understands what to do if you need to quickly evacuate.  </p>
                </li>
                <li>
                    <p>Discuss the latest CDC guidance on Coronavirus (COVID-19) and how it may affect your planning. Don’t forget a plan for the office, kids’ daycare, and anywhere you frequent. </p>
                </li>
            <h3>Review Important Documents</h3>
            <ul>
                <li>
                    <p>Make sure your insurance policies and personal documents like ID are up to date.</p>
                </li>
                <li>
                    <p>Make copies and keep them in a secure password protected digital space.
                    </p>
                </li>
            <h3>Strengthen your Home
            </h3>
            <ul>
                <li>
                    <p>Make sure everyone in your household knows and understands what to do if you need to quickly evacuate.  </p>
                </li>
                <li>
                    <p>Discuss the latest CDC guidance on Coronavirus (COVID-19) and how it may affect your planning. Don’t forget a plan for the office, kids’ daycare, and anywhere you frequent. </p>
               
                    
</div>
{% endblock content %}
