{% extends "layouts/base.html" %}



{% block content %}
<div>
            <h1>Power Outages</h1>
            <p>Extended power outages may impact the whole community and the economy. A power outage is when the electrical power goes out unexpectedly. A power outage may:</p>
            <ul>
                <li>
                    <p>Disrupt communications, water, and transportation.</p>
                </li>
                <li>
                    <p>Close retail businesses, grocery stores, gas stations, ATMs, banks, and other services.</p>
                </li>
                <li>
                    <p>Cause food spoilage and water contamination.</p>
                </li>
            </ul>
            <h3>PROTECT YOURSELF DURING A POWER OUTAGE:</h3>
            <ul>
                <li>
                    <p>Keep freezers and refrigerators closed.</p>
                </li>
                <li>
                    <p>Only use generators outdoors and away from windows.</p>
                </li>
                <li>
                    <p>Do not use a gas stove to heat your home.</p>
                </li>
                <li>
                    <p>Disconnect appliances and electronics to avoid damage from electrical surges.</p>
                </li>
                <li>
                    <p>Have alternate plans for refrigerating medicines or using power-dependent medical devices.</p>
                </li>
                <li>
                    <p>If safe, go to an alternate location for heat or cooling.</p>
                </li>
                <li>
                    <p>Check on neighbors.</p>
                </li>
                
            <h3>
                    <p>HOW TO STAY SAFE WHEN A POWER OUTAGE THREATENS: 

                    </p>
            </h3>
            </ul>
            <h2>Prepare NOW</h2>
            <p>Take an inventory of the items you need that rely on electricity.
                Talk to your medical provider about a power outage plan for medical devices powered by electricity and refrigerated medicines. Find out how long medication can be stored at higher temperatures and get specific guidance for any medications that are critical for life.
                Plan for batteries and other alternatives to meet your needs when the power goes out.
                Sign up for local alerts and warning systems. Monitor weather reports.Install carbon monoxide detectors with battery backup in central locations on every level of your home.
                Determine whether your home phone will work in a power outage and how long battery backup will last.
                Review the supplies that are available in case of a power outage. Have flashlights with extra batteries for every household member. Have enough nonperishable food and water.</p>
            <h2>Survive DURING</h2>
            <p>Keep freezers and refrigerators closed. The refrigerator will keep food cold for about four hours. A full freezer will keep the temperature for about 48 hours. Use coolers with ice if necessary. Monitor temperatures with a thermometer.
                Maintain food supplies that do not require refrigeration.
                Avoid carbon monoxide poisoning. Generators, camp stoves, or charcoal grills should always be used outdoors and at least 20 feet away from windows. Never use a gas stovetop or oven to heat your home.
            </p>
            <h2>Be Safe AFTER</h2>
            When in doubt, throw it out! Throw away any food that has been exposed to temperatures 40 degrees or higher for two hours or more, or that has an unusual odor, color, or texture.
            If the power is out for more than a day, discard any medication that should be refrigerated, unless the drug’s label says otherwise. If a life depends on the refrigerated drugs, consult a doctor or pharmacist and use medicine only until a new supply is available.
</div>
{% endblock content %}
